@{
    ViewData["Title"] = "Cadastrar";
}

<form class="form" id="form" asp-controller="Partida" asp-action="Cadastrar" method="POST">
    <label for="TimeDaCasa">Time da Casa: </label>
    <input type="text" id="TimeDaCasa" name="TimeDaCasa">

    <label for="TimeVisitante">Time Visitante: </label>
    <input type="text" id="TimeVisitante" name="TimeVisitante">

    <label for="Estadio">Estádio: </label>
    <input type="text" id="Estadio" name="Estadio">

    <label for="Data">Data: </label>
    <input type="datetime-local" id="Data" name="Data">

    <input type="submit" value="Cadastrar">
</form>