@{
    ViewData["Title"] = "Cadastrar";
}

<form class="form" id="form" asp-controller="Grupo" asp-action="Cadastrar" method="POST">
    <label for="Nome">Nome: </label>
    <input type="text" id="Nome" name="Nome">

    <label for="Pote1">Pote 1: </label>
    <input type="text" id="Pote1" name="Pote1">

    <label for="Pote2">Pote 2: </label>
    <input type="text" id="Pote2" name="Pote2">

    <label for="Pote3">Pote 3: </label>
    <input type="text" id="Pote3" name="Pote3">

    <label for="Pote4">Pote 4: </label>
    <input type="text" id="Pote4" name="Pote4">

    <input type="submit" value="Cadastrar">
</form>